@import '../../styles/variables.module';

.messages {
  width: 1000px;
  max-width: 1000px;
  margin: 20px auto 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  height: calc(100vh - 116px);
  max-height: calc(100vh - 116px);
  flex-grow: 1;
  display: flex;

  @media(max-width: 620px) {
    margin: 0;
    height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
  }

  @media(max-width: 1000px) {
    width: 100%;
    max-width: 100%;
  }

  &__nav, &__drawer {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &__user {
      padding: 20px 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      transition: all .2s;
      max-width: 100%;

      &:hover {
        background-color: #eee;
        cursor: pointer;
      }

      &__username {
        font-weight: 700;
        margin-bottom: 4px;
      }

      &__lastMessage {
        color: #333;
      }

      &--active {
        background-color: #eee;
      }
    }

    &__indicator {
      margin: 100px auto;
    }
  }

  &__nav {
    @media(max-width: 620px) {
      display: none;
    }
  }

  &__drawer, &__drawer-button {
    @media(min-width: 621px) {
      display: none;
    }
  }

  &__drawer-button {
    position: absolute;
    top: 60px;
    left: -10px;
    cursor: pointer;
  }

  &__channel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;

    &__avatar {
      display: flex;
      padding: 12px 24px;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      font-size: 16px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }

    &__indicator {
      margin: 100px auto;
    }

    &__messages {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      overflow-y: auto;
      flex: 1;
      padding: 10px 24px;
      gap: 10px;
    }

    &__bottom {
      width: 100%;
      position: relative;
      display: flex;
      border-top: 1px solid #eee;
    }

    &__input {
      flex-grow: 1;
      border-radius: 12px;
      margin: 10px 24px;
      background-color: #eee;
      padding: 10px 16px;
      outline: none;
      border: none;
      font-size: 16px;
    }

    &__send {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 28px;
      cursor: pointer;
      color: #333;
    }
  }
}

