@import '../../styles/variables.module';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__indicator {
    margin-top: 60px;
  }

  &__button {
    color: white;
    text-transform: none;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;

    &--disabled {
      color: $primary;
    }
  }

  &__posts {
    width: 640px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media(max-width: 620px) {
      width: 100%;
    }
  }
}

