@import '../../styles/variables.module';

.search {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  //box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  @media(max-width: 610px) {
    width: 100%;
  }

  &__indicator {
    margin-top: 60px;
  }

  &__top {
    width: 100%;
    position: relative;
    display: flex;
  }

  &__input {
    flex-grow: 1;
    border-radius: 12px;
    margin: 10px 24px;
    background-color: #eee;
    padding: 10px 36px 10px 16px;
    outline: none;
    border: none;
    font-size: 16px;
  }

  &__reset {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    cursor: pointer;
    color: #666;
  }

  &__tag {
    padding: 4px 0;
    width: 100%;

    & > span {
      font-size: 16px;
      font-weight: 600;
      color: $hashtag;
      cursor: pointer;
    }
  }

}