@import "src/App.scss";

.button {
  outline: none;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
  }
}

.filled {
  background-color: $primary;
  color: white;
  transition: all .2s;

  &:hover {
    background-color: $primary-hover;
  }
}

.outline {
  background-color: $white;
  color: $grey;
  //transition: all .2s;
  border: 1px solid #ccc;

  //&:hover {
  //  background-color: $primary-hover;
  //}
}