@import '../../styles/variables.module';

.profile {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  //box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  @media(max-width: 610px) {
    width: 100%;
  }

  &__indicator {
    margin-top: 60px;
  }

  &__avatar {
    margin-top: 20px;
    width: 150px;
    height: 150px;
  }

  &__username {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__stats {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;

    @media(max-width: 450px) {
      gap: 10px;
    }

    & > div {
      width: 100px;
      text-align: center;
      padding: 10px 4px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      transition: all .2s;

      &:nth-child(2), &:nth-child(3) {
        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }

    &__amount {
      color: $primary;
      font-weight: 700;
      font-size: 18px;
    }

    &__type {
      font-size: 17px;
    }
  }

  &__description {
    padding: 20px;
    white-space: pre-wrap;
    width: 100%;

    &__username {
      font-weight: 700;
      margin-bottom: 4px;
    }
  }

  &__actions {
    width: 100%;
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-between;
    gap: 16px;

    &__button {
      flex: 1;
      color: white;
      text-transform: none;
      font-weight: 700;
      font-size: 16px;

      &--disabled {
        background-color: #ccc;

        &:hover {
          background-color: #c0c0c0;
        }
      }
    }
  }

  &__posts {
    width: 100%;

    &__header {
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      padding: 0 20px 10px;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 4px;

      &__item {
        width: calc(100% / 3 - 3px);
        height: auto;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    &__empty {
      padding: 0 20px;
      width: 100%;
    }
  }

  &__dialog {
    &__title {
      font-weight: 600;
    }

    &__content {
      padding: 0 0 16px;
    }

    &__indicator {
      margin-bottom: 12px;
    }

    &__error {
      padding: 0 24px 16px;
    }
  }
}

