$primary: #29ab9c;
$primary-light: #56b0a6;
$primary-dark: #029d8e;
$danger: #E40000;

$white: white;
$grey: grey;

:export {
  primary: {
    main: $primary;
    light: $primary-light;
    dark: $primary-dark;
  }
}