$primary: #29ab9c;
$primary-light: #56b0a6;
$primary-dark: #029d8e;
$danger: #ff2929;

$white: white;
$grey: grey;
$hashtag: #1F72FF;

:export {
  hashtag: $hashtag;
  primary: {
    main: $primary;
    light: $primary-light;
    dark: $primary-dark;
  }
}