body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    overflow: auto;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

#root {
    /*height: 100%;*/
}
