@import '../../styles/variables.module';

.picker {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  align-items: center;

  &__button {
    color: white;
    text-transform: none;
    font-weight: 700;
    font-size: 16px;

    &--disabled {
      color: $primary;
    }
  }

  &__modification {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__icon {
    color: white;
    font-size: 50px;
    cursor: pointer;
  }
}