@import '../../styles/variables.module';

.navbar {
  width: 100%;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all .2s;

  &--scrolled {
    padding: 12px 40px;
  }

  &__logo {
    width: 120px;
  }

  &__actions {
    display: flex;
    gap: 20px;

    &__icon {
      cursor: pointer;
      font-size: 28px;
    }
  }
}