@import '../../styles/variables.module';

.login {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 440px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);


  &__logo {
    opacity: 0;
    animation: slideIn .5s forwards;
  }

  @media(max-width: 500px) {
    width: 100%;
    height: 100vh;
    box-shadow: none;
  }

  @media(max-height: 700px) {
    margin: auto;
    position: static;
    transform: none;
  }

  &__input {
    opacity: 0;
    &:first-of-type {
      animation: slideIn .5s .2s forwards;
    }

    &:nth-of-type(2) {
      animation: slideIn .5s .4s forwards;
    }
  }

  &__button {
    color: white;
    text-transform: none;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;

    opacity: 0;
    animation: slideIn .5s .6s forwards;

    &--disabled {
      color: $primary;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: #eee;
    opacity: 0;
    animation: slideIn .5s .8s forwards;
  }

  &__paragraph {
    font-size: 14px;
    margin: 0;
    text-align: center;
    opacity: 0;
    animation: slideIn .5s 1s forwards;

    &--sign-up {
      font-weight: 700;
      color: $primary;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

