//$primary: #29ab9c;
//$primary-hover: #56b0a6;
//$danger: #E40000;
//
//$white: white;
//$grey: grey;

@import 'src/styles/variables.module';

.bg-primary {
  background-color: $primary;
  color: white;
}

.button {
  text-transform: none;
  font-weight: 700;
}
